@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #211856;
  --secondary-text-color: #605792;
  --accent-color: #6232e7;
  --accent-dark-color: #311da3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: var(--accent-color);
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  font-size: 1rem;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility class */

.container {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.flex {
  display: flex;
  align-items: center;
}
.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover {
  color: var(--accent-color);
}
.primary-btn {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700px;
  color: white !important;
  padding: 10px 20px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary-btn:hover {
  background-color: var(--accent-dark-color);
}

.secondary-btn {
  border: 0.5px solid #b9cde4;
  border-radius: 6px;
  font-weight: 700;
  color: var(--primary-text-color);
  padding: 10px 20px;
  transition: 0.2s ease-out;
}

.secondary-btn:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* utility end */

.nav-section{
    justify-content: space-between;
    margin-top: 20px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

/* main */
.main{
    margin: auto;
}
.content{
    margin-top: 4rem;
    text-align: center;
}
.content p{
    margin: 1rem;
}

.button{
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}
.tag-btn{
    margin-top: 4rem;
    background-color: rgb(255, 229, 142);
    padding: 5px 10px;
    font-family: 'Caveat',sans-serif;
    font-size: 20px;
}
.image{
    width: 50px;
}
.image img{
    width: 100%;
    rotate: 90deg;
    margin-left: 8rem;
    margin-top: -1rem;
}